*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 background: linear-gradient(135deg,
  #1a237e 0%,
  #242d85 15%,
  #302d7c 30%,
  #3e1e68 45%,
  #472f7a 60%,
  #3a3798 75%,
  #303f9f 100%
);


}
.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  color: #f7f5f5;
  min-height: 100vh;
}

.home-container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;
  flex-grow: 1;
}

.not-found {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #ccc;
}
